# Python
__pycache__/
*.py[cod]
*.class

# Virtual Environment
venv/
env/
.env

# IDE
.idea/
.vscode/

# Logs
*.log

# Local development
.env.local
.env.development.local
.env.test.local
.env.production.local

# Distribution
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Redis
*.rdb

# System Files
.DS_Store
Thumbs.db
